.container {
      display: flex;
      width: 100%;
    }
    .left {
      flex: 40%; 
      background-color: #ffffff;
      padding: 10px;
    }
    .right {
      flex: 60%; 
      background-color: #b9dee6;
      padding: 10px;
      color: rgb(20, 12, 44);
    }
    .progress-container {
      width: 100%;
      background-color: #eee;
      border-radius: 20px;
      overflow: hidden;
      height: 30px;
    }

    .progress-bar-HTML {
      width: 10%; 
      height: 100%;
      background-color: #4caf50;
      text-align: center;
      line-height: 30px;
      color: white;
      font-weight: bold;
    }
    .progress-bar-CSS {
      width: 15%; 
      height: 100%;
      background-color: #4caf50;
      text-align: center;
      line-height: 30px;
      color: white;
      font-weight: bold;
    }
    .progress-bar-C {
      width: 20%; 
      height: 100%;
      background-color: #4caf50;
      text-align: center;
      line-height: 30px;
      color: white;
      font-weight: bold;
    }
    .progress-bar-Javascript {
      width: 10%; 
      height: 100%;
      background-color: #4caf50;
      text-align: center;
      line-height: 30px;
      color: white;
      font-weight: bold;
    }
